* {
    box-sizing: border-box;
}

/* #inputs {
    display: flex;
} */
body {
    background: #F6F6F6;
    padding-bottom: 30px;
    padding-top: 20px;
}

.calculator {
    max-width: 400px;
    margin-top: 10px;
    /* margin: 0 auto; */
    border: 2px solid black;
    border-radius: 5px;
}

.calcButtons {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    padding: 20px;
    color: #EEEEEE;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.calculator input {
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    border-bottom: 2px solid black;
    text-align: right;
    padding: 10px;
    font-size: 30px;
    border-radius: 0;
}

.calculatorButtons {
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
}
.clearButton {
    grid-column: span 3;
}

.zeroButton {
    grid-column: span 2;;
}